Flask==2.3.3
gunicorn==21.2.0
requests==2.31.0
selenium==4.10.0
undetected-chromedriver==3.4.6
webdriver-manager==3.8.6
selenium-stealth==1.0.6
pyvirtualdisplay==3.0
opencv-python==4.5.5.64
numpy==1.23.5
mss==6.1.0

